@inherits UpdateIndicatorBaseComponent
<h4>Counter component</h4>
<p>Subscribes to 'count incremented notifications' and displays the count from the event.</p>
<p class="has-update-color-green @className" role="status">Current count: @currentCount</p>

