@inherits UpdateIndicatorBaseComponent
<span class="oi oi-bolt heartbeat-indicator @className" title="Heartbeat indicator. @Count beats. Current frequency is @LastBeat?.Frequency ms." aria-hidden="true"></span>
