@page "/counter"
<PageTitle>Counter</PageTitle>
<h1>Counter</h1>
<p>This page emits 'counter incremented notification' using the UIBus implementation. Subscribers anywhere in the application will be notified.</p>
<button class="btn btn-primary mb-4" @onclick="IncrementCount">Increment count</button>
<Web.Client.Components.CounterComponent />
<Web.Client.Components.CounterComponent />
<Web.Client.Components.CounterComponent />

